{% extends 'base.html' %} {% block title %}Home - My Library{% endblock %} {%
block content %}
<div class="container">
  <h1 class="my-4">Book List</h1>
  <div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
          <p class="card-text">
            <strong>Language:</strong> {{ book.language }}
          </p>
          <p class="card-text">
            <strong>Published:</strong> {{ book.published_year }}
          </p>
          <p class="card-text"><strong>Price:</strong> ৳ {{ book.price }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="{% url 'edit_book' book.id %}" class="btn btn-warning"
            >Edit</a
          >
          <a href="{% url 'delete_book' book.id %}" class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <p>No books available.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
